.login-modal {
  position: fixed;
  height: 550px;
  width: 40%;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  top: 12%;
  left: 30%;
  overflow-y: scroll;
  border-radius: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  border: 9px solid rgb(196, 189, 189);
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 248, 248, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 3px; /* Rounded corners for the thumb */
  }
}

.form-close {
  margin: 10px;
  font-size: 1rem;
}