.pagination-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 90px;
}

.pagination-prev-button {
  /* background: none; */
  /* border: none; */
}

.pagination-next-button {
  /* background: none; */
  /* border: none; */
}

.logo-region-type-pagination {
  display: flex;
  flex-direction: column;
  justify-content: row;
}