.pokemon-modal {
  position: fixed;
  height: 90%;
  width: 90%;
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
  top: 5%;
  left: 5%;
  opacity: 99%;


  overflow-y: scroll;
  border-radius: 12px;
  scrollbar-width: none;
  -ms-overflow-style: none; 

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 248, 248, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 3px; /* Rounded corners for the thumb */
  }
}

.close {
  margin-left: 10px;
}

.modal-container {
  display: grid;
  grid-template-columns: 100px; 
  grid-template-rows: 100px; 
}

.parent {
  display:grid;
  margin:10px;
  padding:10px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #f2f2f2;
  font-family: 'VT323', monospace;
  font-size: 24px;
  box-shadow: 1px 1px 5px 1px grey;
  
}

.child {
  border-radius: 10px;
}



/* ================================STAR & POKEBALL=========================== */
.modal-star-ball {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
}

  .modal-star {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }

  .modal-ball {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
/* ================================TYPES & WEAKNESS=========================== */
.modal-type-weak {
  grid-row: 6 / span 1;
  grid-column: 1 / span 9;
}

  .modal-type {
    grid-row:1 / span 1;
    grid-column: 1 / span 1;
  }

  .modal-weakness {
    grid-row:1 / span 1;
    grid-column: 2 / span 1;
  }
/* ================================FORMS CARD============================ */

  .modal-form {
    grid-row: 3 / span 2; 
    grid-column: 1 / span 8;
    justify-content: space-evenly;
    text-align: center;
    
  }

  .form-title {
    margin: 0;
  }
    .modal-form-picture {
      height:150px;
      border-radius: 10px 10px 0px 0px;
    }

    .form-shiny {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
    }

    .form-default {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
    }

/* ================================STATS CARD============================ */
.modal-stats {
  grid-row:1 / span 4;
  grid-column: 10 / span 5;
  /* justify-content: space-between; */
}

  .modal-gender {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }

  .modal-height {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }

  .modal-weight {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
    /* padding-left:2rem; */
  }

  .modal-category {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
  }

  .modal-ability {
    grid-row: 5 / span 1;
    grid-column: 1 / span 2;
  }

/* ================================SINGLES============================ */
.modal-number {
  font-family: 'Roboto Mono', monospace;
  width:150px;
  text-align: center;
  /* margin:auto; */
  padding:22px;
}

.modal-name {
  grid-row: 2 / span 1;
  grid-column: 1 / span 8;
  font-size: 32px;
  text-align: center;
}

.modal-picture {
  grid-column-start: 9;
  padding-top:20px;
  width:400px;
}

.modal-description {
  grid-row: 5 / span 1;
  grid-column: 1 / span 9;
  padding:10px;
}

.modal-location {
  grid-row: 5 / span 3;
  grid-column: 10 / span 5;
  padding:20px;
  height:470px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; 

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 248, 248, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    /* border-radius: 3px; Rounded corners for the thumb */
  }
}

.modal-evol-chain {
  grid-row: 7;
  grid-column: 1 / span 9;
}
  
    .evol-child-blue {
      margin: 5px;
    }
  
    .evol-child-red {
      display: grid;
      grid-row: 2;
      text-align: center;
      margin: 0;
    }

      .evol-child-white {
        display: grid;
        padding:5px;
      }

        .evol-child-green {
          margin: 0;
          grid-row: 1;
          justify-content: space-evenly;
        }

        .evol-child-black {
          margin: 5px;
        }

        .evol-child-purple {
          height:150px;
          
        }

        .evol-child-orange {
          margin: 5px;
        }

