.pokemon-logo {
  height: 90px;
  width: 260px;
  position: absolute;
  margin-bottom: 45px;
}

.pokemonLogoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pokemon-logo:hover {
  transform: rotate(3deg); /* Apply a small rotation on hover */
  animation: shake 0.3s ease-in-out 1; 
}