.pokemon-modal {
  background-color: rgb(235, 149, 183);
  position: fixed;
  /* height: 50%; */
  height: 90%;
  /* width: 60%; */
  width: 90%;
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
  /* top: 20%;
  left: 20%; */
  top: 5%;
  left: 5%;


  overflow-y: scroll;
  border-radius: 12px;
  scrollbar-width: none;
  -ms-overflow-style: none; 

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 248, 248, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 3px; /* Rounded corners for the thumb */
  }
}

.close {
  margin-left: 10px;
}

.modal-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); */
  /* grid-template-columns: 1fr;
  grid-template-rows: 1fr; */
  grid-template-columns: 100px; 
  grid-template-rows: 100px; 

  /* gap: 10px; */
  
}

.child {
  border: 2px dotted purple;
  border-radius: 5px;
  background-color: palevioletred;
  /* width:auto; */
  margin:10px;
  /* width:200px; */
  /* text-align: center; */
  font-family: 'VT323', monospace;
  font-size: 24px;
  /* padding:2px; */
}

/* ================================STAR & POKEBALL=========================== */
.modal-star-ball {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  display:grid;
}

  .modal-star {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }

  .modal-ball {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
/* ================================TYPES & WEAKNESS=========================== */
.modal-type-weak {
  grid-row: 6 / span 1;
  grid-column: 1 / span 9;
  display:grid;
}

  .modal-type {
    grid-row:1 / span 1;
    grid-column: 1 / span 1;
  }

  .modal-weakness {
    grid-row:1 / span 1;
    grid-column: 2 / span 1;
  }
/* ================================FORMS CARD============================ */

  .modal-form {
    grid-row: 3 / span 2; 
    grid-column: 1 / span 8;
    display: grid;
    justify-content: space-evenly;
    text-align: center;
    
  }

  .form-title {
    margin: 0;
  }
    .modal-form-picture {
      height:140px;
    }

    .form-shiny {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;

    }

    .form-default {
      grid-row: 2 / span 1;
      grid-column: 1 / span 1;
    }

/* ================================STATS CARD============================ */
.modal-stats {
  grid-row:1 / span 4;
  grid-column: 10 / span 5;
  display:grid;
}

  .modal-height {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }

  .modal-weight {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }

  .modal-ability {
    grid-row: 4 / span 1;
    grid-column: 1 / span 2;
  }

  .modal-gender {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;

  }

  .modal-category {
    grid-row: 3 / span 1;
    grid-column: 1 / span 2;
  }
/* ================================SINGLES============================ */
.modal-number {
  /* grid-row: 1 / span 1; */
  /* grid-column: 3 / span 1; */
  font-family: 'Roboto Mono', monospace;
  width:100px
}

.modal-name {
  grid-row: 2 / span 1;
  grid-column: 1 / span 8;
  font-size: 32px;
  text-align: center;
}

.modal-picture {
  /* grid-row:1 / span 1;  */
  /* grid-column: 4 / span 5; */
  grid-column-start: 9;
  /* grid-column-end: 10; */
  /* height:400px; */
  width:400px;
}

.modal-description {
  grid-row: 5 / span 1;
  grid-column: 1 / span 9;
}

.modal-location {
  grid-row: 5 / span 4;
  grid-column: 10 / span 5;

  height:427px;
  overflow-y: scroll;
  /* border-radius: 12px; */
  scrollbar-width: none;
  -ms-overflow-style: none; 

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 248, 248, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    /* border-radius: 3px; Rounded corners for the thumb */
  }
}

.modal-evol-chain {
  grid-row: 7;
  grid-column: 1 / span 9;
  /* height:320px; */
  display: grid;
/* margin: 0; */
}
  .evol-child-yellow {
    /* border: 2px dashed yellow; */
  }
  
    .evol-child-blue {
      /* border: 2px dashed blue; */
      /* height:350px; */
      /* grid-row: 1; */
      margin: 5px;
    }
  
    .evol-child-red {
      /* border: 2px dashed red; */
      /* height:350px; */
      display: grid;
      /* justify-content: space-evenly; */
      grid-row: 2;
      /* margin: 5px; */
      text-align: center;
      margin: 0;
    }

      .evol-child-white {
        /* border: 2px dashed white; */
        display: grid;
        padding:5px;
      }

        .evol-child-green {
          /* border: 2px dashed green; */
          margin: 0;
          grid-row: 1;
          justify-content: space-evenly;
          /* grid-column: 1; */
        }

        .evol-child-black {
          /* border: 2px dashed black; */
          /* grid-row: 1 ; */
          margin: 5px;
          /* margin-bottom: 5px; */
        }

        .evol-child-purple {
          /* border: 2px dashed purple; */
          height:150px;
          
        }

        .evol-child-orange {
          /* border: 2px dashed orange; */
          margin: 5px;
          /* text-align: center; */
    
        }

