.normal {
  background-color: hsl(48, 33%, 91%);
}

.fighting {
  background-color: hsl(10, 49%, 62%);
}

.flying {
  background-color: hsl(236, 46%, 82%);
}

.poison {
  background-color: hsl(286, 36%, 70%);
}

.ground {
  background-color: hsl(41, 34%, 61%);
}

.rock {
  background-color: hsl(50, 39%, 76%);
}

.bug {
  background-color: hsl(63, 43%, 73%);
}

.ghost {
  background-color: hsl(267, 19%, 64%);
}

.steel {
  background-color: hsl(210, 15%, 89%);
}

.fire {
  background-color: hsl(18, 61%, 70%);
}

.water {
  background-color: hsl(209, 61%, 81%);
}

.grass {
  background-color: hsl(120, 30%, 80%);
}

.electric {
  background-color: hsl(48, 93%, 83%);
}

.psychic {
  background-color: hsl(330, 68%, 81%);
}

.ice {
  background-color: hsl(180, 39%, 77%);
}

.dragon {
  background-color: hsl(247, 73%, 76%);
}

.dark {
  background-color: hsl(0, 0%, 51%);
}

.fairy {
  background-color: hsl(341, 56%, 88%);
}
