.pokemon-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 200px 
}

.pokemon-list__item {
  margin: 20px auto;
  padding: 10px;
  border-width: 1px;
  border-color: rgb(221, 215, 215);
  border-style: solid;
  border-radius: 8px;
  width: 220px;
  height: 300px;
  padding-bottom: -0em;

  display: flex;
  flex-direction: column;
}

.pokemon-list__image {
  border-radius: 10px 10px 0px 0px;
  width: 150px;
  height: 150px;
  background-color: rgb(240, 235, 235);
}

.pokemon-list__image-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}