.pokemon-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin-left: 200px;
  margin-right: 200px;
<<<<<<< HEAD
=======
  margin-top: 400px;
>>>>>>> 5f7427b0da0db923088869dc0f26ed5095908f08
  margin-bottom: 300px;
  background-color: #f7f7f7;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  border: solid 3px  rgb(214, 218, 198);;
  border-radius: 10px;
  background-attachment: fixed;
  padding: 1em;
}

.pokemon-list__item {
  margin: 20px auto;
  padding: 10px;
  border-width: 1px;
  border-color: rgb(216, 206, 206);
  border-style: solid;
  border-radius: 15px;
  width: 85%;
  height: 290px;
  padding-bottom: -0em;
  display: flex;
  flex-direction: column;
  transition: box-shadow 1s ease;
  animation: shake 0.5s;
  background-color: rgb(255, 255, 255);
}

.pokemon-id {
  font-family: 'Roboto Mono', monospace;
  color: rgb(125, 120, 120);
}

.pokemon-name {
  font-family: 'VT323', monospace;
  font-size: 30px;
  color: rgb(107, 97, 97);
}

.pokemon-list__image {
  border-radius: 10px 10px 0px 0px;
  width: 150px;
  height: 150px;
  background-color: rgb(245, 236, 236);
  border: 1px solid #ded9d9;
}

.pokemon-list__image-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-list__item:hover {
  box-shadow: 10px 10px 10px rgba(1, 1, 1, 0.1);
  transform: rotate(3deg); /* Apply a small rotation on hover */
  animation: shake 0.3s ease-in-out 1; 
}

.pagination-buttons {
  display: flex;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}