.registration-modal {
  position: fixed;
  height: 40%;
  width: 30%;
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.5);
  top: 10%;
  left: 35%;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}