.typesList {
  background-color: rgb(233, 0, 0);
  border-radius: 0 0 20px 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border-bottom: 5px solid darkred;
  border-left: 5px solid darkred;
  border-right: 5px solid darkred;
}

.typesButton {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: rgb(0, 208, 255);
  border-style: solid;
  font-size: 22px;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  color: white;
  font-weight: bold;
}