.type-button {
  width: 120px;
  height: 50px;
  border-radius: 30px;
  border-width: 3px;
  border-color: white;
  border-style: solid;
  font-size: 20px;
  color: white;
  margin: 10px;
}

.type-button.normal {
  background-color: #A8A878; /* Normal type color */
}

.type-button.fighting {
  background-color: #C03028; /* Fighting type color */
}

.type-button.flying {
  background-color: #A890F0; /* Flying type color */
}

.type-button.poison {
  background-color: #A040A0; /* Poison type color */
}

.type-button.ground {
  background-color: #E0C068; /* Ground type color */
}

.type-button.rock {
  background-color: #B8A038; /* Rock type color */
}

.type-button.bug {
  background-color: #A8B820; /* Bug type color */
}

.type-button.ghost {
  background-color: #705898; /* Ghost type color */
}

.type-button.steel {
  background-color: #B8B8D0; /* Steel type color */
}

.type-button.fire {
  background-color: #F08030; /* Fire type color */
}

.type-button.water {
  background-color: #6890F0; /* Water type color */
}

.type-button.grass {
  background-color: #78C850; /* Grass type color */
}

.type-button.electric {
  background-color: #F8D030; /* Electric type color */
}

.type-button.psychic {
  background-color: #F85888; /* Psychic type color */
}

.type-button.ice {
  background-color: #98D8D8; /* Ice type color */
}

.type-button.dragon {
  background-color: #7038F8; /* Dragon type color */
}

.type-button.dark {
  background-color: #705848; /* Dark type color */
}

.type-button.fairy {
  background-color: #EE99AC; /* Fairy type color */
}