.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #61dafb;
}

body {
  background-color: rgb(132, 49, 49);
  /* margin: 0;
  padding: 0; */
  /* background-image: url('https://wallpapercave.com/wp/wp3170170.jpg'); URL of the image */
  /* background-size: cover; /* Scale the image to cover the entire viewport */
  /* background-position: center; Center the image horizontally and vertically */
  /* background-repeat: no-repeat; Prevent image repetition */
  /* height: 300vh; Set the body height to the viewport height */
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
